/*
Created by adiultra for esencia
*/
html { font-family: "Raleway", "Open Sans", "Roboto", sans; font-size: 1.2em; }
html body { margin: 0px; }
html body .header { padding-top: 1%; padding-bottom: 2%; text-align: center; color: white; border-bottom: 16px solid rgba(55, 55, 55, 0.25); background: #1ca2ed; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); }
html body .header h1 { margin: 0; margin-top: 4%; padding: 0; font-size: 8em; font-weight: normal; font-weight: lighter; }
html body .header h3 { margin: 0; margin-top: 4%; padding: 0; font-size: 1.3em; font-weight: normal; }
html body .menu { position: -webkit-sticky; position: sticky; top: 0; padding: 1%; background-color: rgba(255, 255, 255, 0.95); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); }
html body .menu ul { margin: 0; list-style: none; text-align: center; }
html body .menu ul li { display: inline; margin-right: 1%; margin-left: 1%; padding: 0; }
html body .menu ul li a { text-decoration: none; padding: 1%; color: #444; -webkit-transition: 0.2s; transition: 0.2s; font-size: 20px; }
html body .menu ul li a:hover { color: #1ca2ed; background-color: rgba(0, 0, 0, 0.05); }
html body .menu ul li a:active { background-color: rgba(0, 0, 0, 0.1); }
html body .page { padding: 5% 20%; border-bottom: solid 16px #1ca2ed; }
html body .page p { text-indent: 2em; font-size: 1.2em; line-height: 1.5; }
html body .page h1 { margin: 0; margin-top: 4%; padding: 0; font-size: 2.4em; font-weight: normal; }
html body .page h2 { margin: 0; margin-top: 4%; padding: 0; font-size: 2em; font-weight: normal; }
html body .page h3 { margin: 0; margin-top: 4%; padding: 0; font-size: 1.8em; font-weight: normal; }
html body .page h4 { margin: 0; margin-top: 4%; padding: 0; font-size: 1.5em; font-weight: normal; }
html body .page h5 { margin: 0; margin-top: 4%; padding: 0; font-size: 1.3em; font-weight: normal; }
html body .page h6 { margin: 0; margin-top: 4%; padding: 0; font-size: 1.2em; font-weight: normal; }
html body .page blockquote { font-style: italic; font-size: 1.4em; text-align: center; color: #1e252d; padding: 3%; background-color: whitesmoke; }
html body .page .button-wrapper { margin: 1% 1%; text-align: center; }
html body .page .button-wrapper a.main-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #0c6597; border-radius: 4px; background-color: #1ca2ed; }
html body .page .button-wrapper a.main-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.main-button:active { background-color: #0c6597; }
html body .page .button-wrapper a.blue-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #0c6597; border-radius: 4px; background-color: #1ca2ed; }
html body .page .button-wrapper a.blue-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.blue-button:active { background-color: #0c6597; }
html body .page .button-wrapper a.red-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #af3a15; border-radius: 4px; background-color: #e86a42; }
html body .page .button-wrapper a.red-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.red-button:active { background-color: #af3a15; }
html body .page .button-wrapper a.green-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #58b616; border-radius: 4px; background-color: #8be949; }
html body .page .button-wrapper a.green-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.green-button:active { background-color: #58b616; }
html body .page .button-wrapper a.cyan-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #1ea09c; border-radius: 4px; background-color: #47ddd8; }
html body .page .button-wrapper a.cyan-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.cyan-button:active { background-color: #1ea09c; }
html body .page .button-wrapper a.yellow-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #e9d310; border-radius: 4px; background-color: #f5e76a; }
html body .page .button-wrapper a.yellow-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.yellow-button:active { background-color: #e9d310; }
html body .page .button-wrapper a.teal-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em #14bd67; border-radius: 4px; background-color: #4bec9a; }
html body .page .button-wrapper a.teal-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.teal-button:active { background-color: #14bd67; }
html body .page .button-wrapper a.black-button { margin: 0% 2%; padding: 1% 2%; -webkit-transition: all 0.2s; transition: all 0.2s; text-decoration: none; color: white; border-radius: 4px; border-bottom: solid 0.2em black; border-radius: 4px; background-color: #1f2122; }
html body .page .button-wrapper a.black-button:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); }
html body .page .button-wrapper a.black-button:active { background-color: black; }
html body .page .button-wrapper h1 { margin: 0; margin-top: 4%; padding: 0; font-size: 2em; font-weight: normal; padding: 3% 0%; font-weight: lighter; }
html body .page table { overflow: hidden; width: auto; text-align: center; border-collapse: collapse; margin: 4% auto; }
html body .page table thead th { padding: 0.3em 3em; border-left: 0px solid; border-bottom: 2px solid #1ca2ed; font-size: 1.4em; font-weight: normal; }
html body .page table tr { padding: 1%; }
html body .page table tr td { padding: 0.2em 2em; border-bottom: 1px solid #afafaf; }
html body .page img { display: block; width: 100%; padding: 1%; margin: auto; }
html body .page img:hover { box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); }
html body .page img.screen-shot { padding: 0%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); }
html body .page img.screen-shot:hover { box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); }
html body .footer { padding: 1% 0%; text-align: center; color: #e6e6e6; background-color: #1e252d; font-size: 0.8em; }
html body .footer h1 { font-size: 1.3em; font-weight: normal; }
html body .footer p { margin: 0; }
