/*
Created by adiultra for esencia
*/


// ██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████
// ██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██
// ██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████
//  ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██
//   ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████


$blue: rgb(28, 162, 237);
$green: rgb(139, 233, 73);
$red: rgb(232, 106, 66);
$cyan: rgb(71, 221, 216);
$teal: rgb(75, 236, 154);
$yellow: rgb(245, 231, 106);

$light: rgb(230, 230, 230);
$grey: rgb(175, 175, 175);
$white: rgb(255, 255, 255);
$dark-grey: rgb(31, 33, 34);
$dark: rgb(30, 37, 45);

$main-color: $blue;

$shadow: rgba(0, 0, 0, 0.25);

$font-sans: "Raleway", "Open Sans", "Roboto", sans;


// ███    ███ ██ ██   ██ ██ ███    ██ ███████
// ████  ████ ██  ██ ██  ██ ████   ██ ██
// ██ ████ ██ ██   ███   ██ ██ ██  ██ ███████
// ██  ██  ██ ██  ██ ██  ██ ██  ██ ██      ██
// ██      ██ ██ ██   ██ ██ ██   ████ ███████

@mixin button($color) {
    margin: 0% 2%;
    padding: 1% 2%;

    transition: all 0.2s;
    text-decoration: none;

    color: #fff;
    border-radius: 4px;

    border-bottom: solid 0.2em darken($color, 20%);
    border-radius: 4px;
    background-color: $color;

    &:hover{
        box-shadow: 0px 8px 16px $shadow;
    }

    &:active{
        background-color: darken($color, 20%);
    }
}

@mixin heading($size) {
    margin: 0;
    padding: 0;

    font-size: $size;
    font-weight: normal;
}

@mixin subheading($size) {
    @include heading($size);
    padding: 3% 0%;
    font-weight: lighter;
}



// ███████ ████████ ██    ██ ██      ███████
// ██         ██     ██  ██  ██      ██
// ███████    ██      ████   ██      █████
//      ██    ██       ██    ██      ██
// ███████    ██       ██    ███████ ███████


html{
    font-family: $font-sans;
    font-size: 1.2em;
    body{
        margin: 0px;

        .header{
            padding-top: 1%;
            padding-bottom: 2%;

            text-align: center;

            color: #fff;
            border-bottom: 16px solid rgba(55, 55, 55, 0.25);
            background: $main-color;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

            h1{
                @include heading(8em);

                font-weight: lighter;
            }

            h3{ @include heading(1.3em); }
        }

        .menu{
            position: sticky;
            top: 0;

            padding: 1%;

            background-color: fade-out($white, 0.05);
            box-shadow: 0px 4px 6px $shadow;

            ul{
                margin: 0;

                list-style: none;

                text-align: center;

                li{
                    display: inline;

                    margin-right: 1%;
                    margin-left: 1%;
                    padding: 0;

                    a{
                        text-decoration: none;

                        padding: 1%;

                        color: #444;

                        transition: 0.2s;
                        font-size: 20px;
                        &:hover{
                            color: $main-color;
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                        &:active{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }

        .page{
            padding: 5% 20%;

            border-bottom: solid 16px $main-color;

            p{
                text-indent: 2em;

                line-height: 1.5;
            }

            h1{ @include heading(2.4em); }

            h2{ @include heading(2em); }

            h3{ @include heading(1.8em); }

            h4{ @include heading(1.5em); }

            h5{ @include heading(1.3em); }

            h6{ @include heading(1.2em); }

            .download{
                margin: 1% 1%;

                text-align: center;

                a{
                    @include button($green);
                    &#repo{ @include button($blue); }
                }

                h1{ @include subheading(2em); }
            }

            table{
                overflow: hidden;

                width: auto;
                text-align: center;
                border-collapse: collapse;
                margin: 4% auto;

                thead{
                    th{
                        padding: 0.3em 3em;

                        border-left: 0px solid;
                        border-bottom: 2px solid $main-color;

                        font-size: 1.4em;
                        font-weight: normal;
                    }
                }

                tr{
                    padding: 1%;

                    td{
                        padding: 0.2em 2em;

                        border-bottom: 1px solid $grey;
                    }


                }
            }

            img{
                display: block;
                width: 100%;
                padding: 1%;
                margin: auto;
                &:hover{
                    box-shadow: 0px 2px 6px $shadow;
                }
                &.screen-shot{
                    padding: 0%;
                    box-shadow: 0px 10px 20px $shadow;
                    &:hover{
                        box-shadow: 0px 10px 20px $shadow;
                    }
                }
            }

            .social{
                text-align: center;

                a{
                    &#twitter{ @include button($blue); }

                    &#github{ @include button($dark-grey); }

                    &#google{ @include button($red); }
                }

                h1{ @include subheading(2em); }
            }
        }

        .footer{
            padding: 1% 0%;

            text-align: center;

            color: $light;
            background-color: $dark;

            font-size: 0.8em;

            h1{
                font-size: 1.3em;
                font-weight: normal;
            }

            p{
                margin: 0;
            }
        }
    }
}
